# Visual Studio
.vs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# PostgreSQL
postgres_data/

# n8n
n8n_data/

# SQLite
test.db